 * {
 	padding: 0;
 	margin: 0;
	 	
 }

 .game-board {
 	margin: 50px auto;
 	width: 600px;
 	height: 300px;
 	border: 3px solid red;
 	text-align: center;
 	background-color: #EED4B9;
 	padding: 20px;
 	border-radius: 20px;
 	box-shadow: 6px 8px 4px rgba(0,0,0,.4);
 }

.game-board h1 {
	font-family: 'Ubuntu Condensed', sans-serif;
	color: #330099;
	font-size: 45px;
}

.game-board h3 {
	font-family: 'Schoolbell', cursive;
	font-size: 25px;
	color: #330099;
	margin-top: 20px;
	margin-bottom: 20px;
}

.game-board .result {
	color: #330099;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 35px;
	font-weight: 400;
	margin-bottom: 30px;
}

.btn {
	padding: 10px;
	background-color: #330099;
	color: white;
	border-radius: 30px;
	margin-left: 10px;
	width: 120px;
	cursor: pointer;
}

.play-again {
	display: none;
}

.buttons {
	display: block;
}

.score {
	width: 200px;
	border-radius: 15px;
	border: 3px solid red;
	margin: 20px auto;
	font-size: 30px;
	color: #330099;
	font-family: 'Ubuntu Condensed', sans-serif;
	padding: 20px;
	text-align: center;
	box-shadow: 2px 4px 2px rgba(0,0,0,.4)
}